%fieldset
  %legend= fa_icon "sitemap", text: "Relationships"

  = f.input :parent_id, label: "Supernode Lab", as: 'select', collection: Lab.roots, hint: "Will you be connected with a Supernode? If so, which one?", input_html: { class: 'enhanced' }
