-# .row
-#   .columns.large-12.text-right
-#     %dl.sub-nav
-#       %dt View as:
-#       %dd.active
-#         = link_to events_path do
-#           = fa_icon "list"
-#           List
-#       %dd
-#         = link_to calendar_events_path do
-#           = fa_icon "calendar"
-#           Calendar