.row
  .columns-12
    = title "Developers"
    A REST-based API will be released very soon. Please contact #{mail_to "john@bitsushi.com", "john@bitsushi.com", encode: 'javascript'} if you'd like to be notified the moment that it's ready.
