.row
  .columns.large-12
    = title "Privacy"
    %p This page is currently being written but in the meantime we'd like to assure you that we take  privacy seriously and all of the details that you use on this site are in safe hands.
