<%
imgs = {}

Dir.chdir("#{Rails.root}/app/assets/images/") do
  imgs = Dir["**"].inject({}) {|h,f| h.merge! f => image_path(f)}
end

%>

window.image_path = (name) ->
  <%= imgs.to_json %>[name]

update = ->
  $('.country').each ->
    $(this).toggle($(this).find('.lab:not(.hide-region,.hide-kind,.hide-search)').length > 0)
    # ($(this).hasAtLeastOneVisibleChild('.lab'))



# showMarker = (marker) ->
#   window.markers.addLayer(marker)

# hideMarker = (marker) ->
#   window.markers.removeLayer(marker)

# filter = ->
#   for lab in window.labs
#     showMarker(lab.marker)
#     if window.kind and window.kind != lab.kind
#       hideMarker(lab.marker)

jQuery ->

  $('ul.contacts-list').hide()

  $('.contacts-toggle').click (e) ->
    e.preventDefault()
    $(this).parents('.lab').find('.contacts-list').toggle()

  $(window).resize ->
    if $('.c-labs.a-map #map').length > 0
      height = $(window).height()
      if height < 400
        $('.c-labs.a-map #map').height $(window).height()
      else
        $('.c-labs.a-map #map').height( height - $('.c-labs.a-map #map').offset().top )
  .trigger 'resize'

  $('td.time-picker input').change ->
    $(this).parents('td').toggleClass 'open', $(this).is(':checked')

  # $('#apply-to-all').click ->
  #   $('table.opening-hours-chooser').hide()

  $('.open_type').change ->
    $(this).parents('tr').find('.hide-if-closed').toggle ($(this).val() == 'open_from')

  $('.c-labs.a-index input').change ->
    # alert ".lab[data-#{$(this).parents('fieldset').data('type')}='#{$(this).val()}']"
    type = $(this).parents('fieldset').data('type')
    console.log ".lab[data-#{type}='#{$(this).val()}']"
    $(".lab[data-#{type}='#{$(this).val()}']").toggleClass "hide-#{type}", !$(this).is(':checked')
    update()

  $('.c-labs.a-index form').submit -> false

  $('#q_name_or_city_cont').keyup ->
    if $(this).val() == ""
      $('.lab').removeClass('hide-search')
    else
      q = $('#q_name_or_city_cont').val().toLowerCase()
      $('.lab').each ->
        $(this).toggleClass 'hide-search', ($(this).data('name').search(q) <= 0)
        # console.log $(this).data('name'), ($(this).data('name').search(q) > 0)
    update()

    # $('#no-results').toggle(~count)

  # hide flash messages
  $('.notice').delay(2000).slideUp('fast')

  $("select.enhanced").select2()

  # map details
  if $('#map').length > 0
    markers = new L.MarkerClusterGroup({spiderfyOnMaxZoom: true})
    map = L.map('map', { scrollWheelZoom: false, zoomControl: false }).setView([50, 0], 2 )
    new L.Control.Zoom({ position: 'topright' }).addTo(map)
    L.tileLayer('http://{s}.tile.cloudmade.com/384aceabcd0942189d0e93cf0e98cd31/90734/256/{z}/{x}/{y}.png', {}).addTo(map)

    if $('body').hasClass 'c-labs a-map'
      navigator.geolocation.getCurrentPosition((position)->
        map.setView([position.coords.latitude, position.coords.longitude], 5)
      )

    if $('#map').data('lat')
      map.setView([$('#map').data('lat'), $('#map').data('lng')], $('#map').data('zoom') )
      kind = 'fab_lab'
      icon = L.icon({
        iconUrl: window.image_path("map-icon-#{kind}.png")
        iconSize:     [35, 35]
        iconAnchor:   [17, 33]
        popupAnchor:  [0, -20]
      })
      L.marker([$('#map').data('lat'), $('#map').data('lng')],{icon: icon}).addTo(map)

    else
      $.get "/labs.json", (labs) ->
        for lab in labs
          if lab.latitude
            if !lab.kind
              icon = L.icon({
                iconUrl: window.image_path("map-icon-fab_lab.png")
                iconSize:     [35, 35]
                iconAnchor:   [17, 33]
                popupAnchor:  [0, -20]
              })
              lab.marker = L.marker([lab.latitude, lab.longitude], {icon: icon})
            else
              lab.marker = L.marker([lab.latitude, lab.longitude])
            lab.marker.bindPopup("<a href='/labs/#{lab.id}'>#{lab.name}</a>")
            markers.addLayer(lab.marker)
      map.addLayer(markers)

  $('#tools').on 'cocoon:after-insert', (e, insertedItem) ->
    filepicker.constructWidget $(insertedItem).find('input.photo-uploader')
    $(insertedItem).find("select").select2();

  $('#humans').on 'cocoon:after-insert', (e, insertedItem) ->
    $(insertedItem).find("select").select2();

  $('tr .closed').change ->
    $(this).parents('tr').find('.hide-if-closed *').toggle( !$(this).is(":checked") )
  .trigger('change')

  # GeoComplete

  $("input#geocomplete").geocomplete
    details: ".address"
    detailsAttribute: "data-geo"
    map: "#geocomplete-map"
    location: $('#geocomplete').data('latlng')
    markerOptions:
      draggable: true

  # $("#geocomplete").bind "geocode:result", (event, result) ->
  #   console.log result

  $("#geocomplete").bind "geocode:dragged", (event, latLng) ->
    $("input#lab_latitude").val latLng.lat()
    $("input#lab_longitude").val latLng.lng()
