/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require select2
 *= require MarkerCluster.Default
 *= require_tree .
 */

 #toggle-contacts {
  font-size: 0.8em;
  display: block;
  text-align: right;
  margin-bottom: 1em;
  a { color: #999; }
 }

legend {
  font-weight: normal !important;
}

body {
  color: #333;
  -webkit-text-size-adjust:none;
}
body, h1,h2,h3,h4,h5 {
  font-family: 'Ubuntu', sans-serif;
}
img {
  max-width: 100%;
}

#map-filters {
  .hint {
    display: none;
  }
  position: absolute;
  z-index: 20;
  background: none;
  table,tr,td {
    border: none;
    background: none;
    margin: 0;
  }
  legend {
    display: none;
  }
  fieldset {
    background: rgba(255,255,255,0.9);
  }
}
.button {
  border: none !important;
  box-shadow: none !important;
}
input {
  border-radius: 4px !important;
}

#main {
  .leaflet-popup-content-wrapper {
    background: #333333;
    -webkit-border-radius: 0;
    border-radius: 0;
    a {
      color: #FFF;
      font-weight: bold;
    }
  }
  .leaflet-popup-tip {
    background: #333333;
  }
}

.remove {
  &, &:hover { color: #A84545; }
}



label a {
  color: #222;
}

 legend i {
  color: #CCC;
 }

 .input.date {
  select {
    width: 70px;
  }
 }

.selectize-control {
  width: 100%;
}

fieldset {
  border-radius: 4px;
}

body.c-users li.users a,
body.c-events li.events a,
body.c-labs li.labs a {
  color: #FFF !important;
}

.dropdown {
  z-index: 10;
}

header {
  position: relative;
  z-index: 10;

  .top-bar-section .divider {
    border: 1px solid #353535 !important;
  }

  a#sign-out:hover i {
    color: red !important;
  }

  img#header-avatar {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    margin-right: 15px;
  }

  li a:hover {
    color: #FFF !important;
  }

  h1#logo {
    padding-left: 20px !important;
    text-transform: uppercase;
    background: image-url('logo.png') no-repeat 13px center;
    a {

      max-width: 200px;
      font-weight: normal;
      span.fab {
        padding-right: 3px;
        font-weight: bold;
      }
    }
  }

  .dropdown {
    background: rgba(#333, 0.8) !important;
    // background: #333 !important;
    border-radius: 0 0 4px 4px;
  }

  .top-bar .title-area .name h1 a {
    color: #F7F7F7;
  }
}


body a {
  color: #008FD5;
}

.button {
  border-radius: 5px;
}

header {
  #flash_notice, #flash_alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 200;
  }
  #flash_notice {
    background: #CAF2C7;
    color: #527A4E;
  }
  #flash_alert {
    background: #FFA6A6;
    color: #AD2121;
  }
}

/*i {
  color: #888 !default;
}*/