/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require select2
 *= require both
 */

 nav.pagination {
  display: block;
  margin: 1em 0;
  text-align: right;

  .page a, .page.current, .page.gap, .next a, .last a, .first a, .prev a {
    display: inline-block;
    padding: 5px 8px;
    background: #000;

  }

  span.page {
    color: #FFF;
    margin-bottom: 5px;
  }
}

td,th {
  vertical-align: top;
}

body.backstage {
  background: #555;

  .top-bar-section a.active {
    color: #2BA6CB;
  }

  #flash_notice, #flash_alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 200;
  }
  #flash_notice {
    background: #CAF2C7;
    color: #527A4E;
  }
  #flash_alert {
    background: #FFA6A6;
    color: #AD2121;
  }

  .expanded .top-bar-section ul li a {
    background: #222;
  }
  .panel form {
    background: none;
    padding: 0;
  }
  form {
    background: #FFF;
    padding: 5px 10px;
    border-radius: 8px;
  }
  header {
    margin-bottom: 20px;
  }
}

textarea {
  height: auto !important;
}

table {
  width: 100%;
  th.id {
    width: 50px;
  }

  thead th {
    text-align: left;
  }

}

a {
  text-decoration: none;
}

