.field_with_errors {
  .hint {
    color: #111;
  }
  .error {
    padding: 0.3em;
    display: block;
  }
  background: #FFBABA;
  color: #A84545;
  border-radius: 4px;
  ul { padding: 10px 30px; margin: 0; }
  text-shadow: 1px -1px 1px rgba(255,255,255,0.2);
}

.hint {
  display: block;
  color: #CCC;
  font-size: 0.9em;
}

.input span.hint {
  font-size: 0.8em;
  margin-top: 0;
}

.input {
  input, textarea, select {
    margin-bottom: 0.2em !important;
  }
}

div.input {
  margin-bottom: 1em;
}