legend {
  font-weight: normal !important;
}

.button {
  border: none !important;
  box-shadow: none !important;
  border-radius: 5px;
}

input {
  border-radius: 4px !important;
}

label a {
  color: #222;
}

legend i {
color: #CCC;
}

.input.date {
  select {
    width: 70px;
  }
}

.selectize-control {
  width: 100%;
}

fieldset {
  border-radius: 4px;
}