.c-labs.a-map {
  #name_or_city_cont { display: none; }
}
.top-bar-section ul li > a {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.facilities {
  text-align: center;
  text-transform: uppercase;
}
.contacts-list {
  display: none;
}
#equipment li {
  img {
    width: 100%;
  }
}
/* Available Variables */
$small-screen: emCalc(768);
$medium-screen: emCalc(1280);
$large-screen: emCalc(1440);

$screen: "only screen";
$small: "only screen and (min-width:"#{$small-screen}")";

.c-labs.a-show {
  #map {
    margin-bottom: 20px;
  }
  h4 {
    line-height: 60px;
  }
}

li.tool {
  li {
    list-style: none;
  }
    img {
      width: 100%;
    }

  .details {
    width: 100%;
    padding: 1em;
    border: 1px dotted #CCC;
    border-radius: 4px;
    border-top: none;
    font-size: 0.8em;
    p {
      color: #777;
      margin-bottom: 0;
    }
  }
  .name {
    font-size: 1.2em;
    color: #111;
    // font-weight: bold;
  }
}

.divider {
  display: none;
}
span.extra {
  // position: absolute;
  // bottom: 20px;
  // right: 30px;
  padding: 8px;
  border-radius: 4px;
  background: yellow;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.8em;
  position: relative;
  bottom: 0.6em;
}
.toggle-topbar.menu-icon a {
  color: #EEE !important;
  &:hover {
    color: #FFF !important;
  }
}

footer.contain-to-grid {
  padding-top: 20px;
  min-height: 200px;
  // margin-top: 50px;
  margin-bottom: 0;
  background-color: #222;
  li.fab-foundation a {
    display: inline-block;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #666;
  }
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    font-size: 0.9em;
    color: #666;
    -webkit-transition:color 0.2s ease-in;
    -moz-transition:color 0.2s ease-in;
    -o-transition:color 0.2s ease-in;
    transition:color 0.2s ease-in;
    &:hover {
      color: #FFF;
    }
  }
}

dl.sub-nav {
  dd {
    margin-right: 0.8em;
  }
  dd:nth-child(last) {
    margin-right: 0;
  }
  dd.active {
    a {
      border-radius: 4px;
      background: #999;
      color: #FFF;
      font-weight: normal;
    }
  }
  dd.right {
    float: right;
  }
}

#lab-name {
  h1 {
    color: #FFF;
    text-shadow: 1px 1px 3px #111;
    display: inline;
    padding-right: 10px;
  }
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  -ms-behavior: url(/backgroundsize.min.htc);
  .fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: image-url("fade.png") repeat-x bottom left;
  }
  .row {
    height: 300px;
    position: relative;
    // @media #{$small} {
    //   height: 300px;
    // }
  }
  .columns {
    position: absolute;
    bottom: 10px;
    left: 0;
  }
}


span.size {
  color: #999;
  font-size: 0.7em;
  margin-left: 5px;
}
.contacts ul {
  border: 1px solid #EEE;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 5px;
    font-size: 0.8em;
    border-bottom: 1px solid #DDD;
    &:last-child {
      border: none;
    }
  }
}
.lab_application_lab_facilities input {
  margin-right: 5px;
}
span.time {
  font-size: 8px;
  padding: 0;
  margin: 0;
  display: block;
  text-align: left;
  /* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);
}
.c-labs.a-map #map {
  background: none;
}
.hint a {
  color: #CCC;
}
.avatar img {
  max-width: 90%;
}
#map {
background: #EEE;
}

.c-labs .top-bar {
  margin-bottom: 0;
}
ul.facilities li {
  padding: 3px;
}
.facility {
  padding: 10px;
  line-height: 1.1em;
  font-size: 0.8em;
  background: #EEE;
  // color: #CCC;
  overflow: hidden;
  border-radius: 4px;

  &.active {
    // background: #46D89E;
    // color: darken(#46D89E, 70%);
    // text-shadow: 1px 1px 1px lighten(#46D89E, 5%);
    img {
      opacity: 0.7;
    }
  }
  img {
    float: left;
    opacity: 0.1;
    width: 30px;
  }
}
.flag-bar {
  border-radius: 4px;
  background: #F5F5F5;//lighten(yellow, 45%);
  padding: 10px 20px;
  margin-bottom: 1em;
}
body.c-labs {
  .lab {
    // padding-bottom: 0.5em;
    margin-top: 0.5em;
    // padding-bottom: 0;
    // border-bottom: 1px solid #DDD;
    overflow: hidden;

    &:last-child {
      border: none;
    }

    .name {
      word-wrap:break-word;
      word-break: break-all;
      display: inline-block;
    }
  }
}

header.contain-to-grid {
  position: relative;
  margin-bottom: 20px;
}

.c-labs.a-index, .c-labs.a-map {
  header.contain-to-grid {
    margin-bottom: 0;
  }
}

.c-labs.a-show {

  #main #map {
    height: 280px;
  }
  header.contain-to-grid {
    background: rgba(#333, 0.2);
    position: relative;
    height: auto;
  }

  dd.active {
  a {
    color: #FFF;
  }
}
#main {
  margin-top: 230px;

  #map {
    // margin-bottom: 20px;
    background: #EEE;
  }
  img {
    float: left;
    margin-right: 10px;
  }
  .details {
    float: left;
  }
}
}
body, html {
  height: 100%;
  min-width: 300px;
}

table.users {
  border: none;
  margin: 0.5em 0 1em 1em;
  width: auto !important;
  td {
    padding: 0.2em;
    &, a {
      color: #AAA;
    }
  }
}
ul.users {
  margin: 10px 0 0 10px;
  font-size: 0.9em;
  list-style: none;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.lab.hide-region, .lab.hide-search, .lab-hide-kind {
  display: none;
  // a {
  //   color: red !important;
  // }
}

#opening-hours {
  fieldset {
    margin: 0;
    padding: 0;
  }
  td.time-picker {
    cursor: pointer;
    padding: 0;
    // text-indent: -20px;
    overflow: hidden;
    &.open label {
      background: yellow;
    }
    input {
      // display: none;
    }
  }
  table {
    padding: 0;
    border: none;
    cell-padding: 0;
  }
  input {
    padding: 0;
    margin: 0;
  }
  label {
    margin: 0;
    display: block;
    background: #CCC;
    width: 100%;
    height: 20px;
  }
  th {
    font-size: 8px;
    height: 20px;
    width: 15px;
    padding: 0;
  }
}
input[type=filepicker-dragdrop] {
  width: 100px;
}
.checkbox_container {
  display: inline-block;
  margin: 10px;
 }
.checkbox_container input {
  display: inline;
 }
.checkbox_container .collection_check_boxes{
  display: inline;
  padding-left: 5px;
 }

ul.websites {
  margin: 0;
}
.lab a {
  vertical-align: top;
}
// body.c-labs.a-map form#lab_search {
//   display: none !important;
// }

fieldset.country {
  padding: 0;
  margin: 0 0 1em;
  legend {
    margin-left: 10px;
  }
}

table.opening-hours-chooser {
  border: none;
}
.top-bar .name h1 a {
  width: auto;
  // min-width: 300px;
}

#no-results {
  display: none;
}


#geocomplete-map {
  embed, img, object { max-width: none; }
}

#geocomplete-map {
  height: 440px;
  width: 100%;
  background: #CCC;
}

.sidebar legend {
  &, a {
    font-weight: normal;
    color: #999;
  }
}
input#lab_name {
  font-size: 1.4em;
  font-weight: bold;
}

.search-box {
  // margin-top: -20px;
}
body.c-labs.a-index {
  .search-box {
    margin-bottom: 20px;
  }
  .name {
    font-size: 0.9em;
  }
}

.c-labs #main {
th.day {
  font-weight: normal;
}
  legend {
    color: #999;
  }

  h1 {
    line-height: 1em;
    padding-bottom: 0.2em;
  }

  img.image {
    float: left;
    width: 50px;
    height: 50px;
  }
  .contact {
    float: left;
    font-size: 0.9em;
    line-height: 1.1em;
    .name a{
      color: #111;
    }
  }

  .name a {
    // color: #111;
    // font-weight: bold;
    font-size: 1em;
    line-height: 1.5em;
  }

  table.opening-hours {
    border: none;
    width: 200px !important;
  }

  .all td {
    border-bottom: 1px solid #CCC;
  }
  td.hint {
    text-align: right;
  }
  span.kind {
    font-size: 0.9em;
    margin-left: 0.2em;
  }
  // legend, legend a {
  //   color: #888;
  // }
  // legend {
  //   font-weight: normal;
  //   font-size: 0.9em;
  // }
  // img {
  //   float: right;
  // }
  .sort a {
    margin-left: 0.5em;
  }
  .search-box {
    overflow: hidden;
    height: 62px;
    .button {
      background: lighten(#209868, 20%);
      color: #FFF;
      &.inactive {
        background: darken(#209868, 4%);
        color: darken(#209868, 15%);
      }
    }
    padding: 10px 10px 0;
    background: #209868;
    position: relative;
    z-index: 8;
    input {
      border: none;
      font-size: 1.1em;
    }
  }
  .lab.row {
    margin-bottom: 1em;
  }
  .sidebar {
    .hint {
      display: none;
    }
    td {
      padding: 5px;
    }
    label {
      font-weight: normal !important;
      display: inline;
      font-size: 1em;
      span {
        font-weight: normal;
      }
    }
    fieldset {
      padding: 5px 8px 0;
    }
    table {
      border: none;
      margin: 0.5em 0;
    }
    tr {
      background: none;
    }
  }
  .sort {
    margin-bottom: 1em;
  }

  img.tool {
    padding: 6px;
    border: 8px solid #FFF;
    margin-top: 10px;
  }

  img.tool-icon {
    margin-right: 5px;
  }

  .name {
    line-height: 1.5em;
  }
  #sticky {
    background: rgba(255,255,255,0.97);
    padding: 1.2em 0;
  }

  .sidebar {
    #minimap {
      display: none;
      height: 200px;
      background: #DDD;
    }
  }

  .a-map {
    #map {
      height: 100%;
    }
  }

  #map {
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: #8DCFF4;
  }

  .people {
    font-size: 0.9em;
    line-height: 1.2em;

    .role {
      line-height: 1.8em;
      color: #888;
    }
    .name {
      line-height: 1em;
      font-weight: bold;
      word-wrap:break-word;
      word-break: break-all;
      display: inline-block;
    }
    .email {
      font-size: 0.9em;
      word-wrap:break-word;
      word-break: break-all;
    }
  }

  #head {
    margin: 20px 0;
  }

  .image {
    display: block;
    height: 90px;
  }

  ul.facilities {
      margin-bottom: 1em;
    }

  #equipment {

    // ul, li {
    // list-style: none;
    // margin: 0;
    // }
  }
  .leaflet-top, .leaflet-bottom {
    z-index: 100 !important;
  }
  span.count {
    background: #444;
    color: #FFF;
    display: inline;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.7em;
  }
  table.opening-hours {
    th {
      text-align: left;
      color: #999;
      // font-weight: bold;
    }
  }

  h1 {
    margin: 0;
  }

  #image {
    float: left;
    width: 130px;
  }

  .details {
    float: left;
  }

  li.user {
    .name {
      clear: both;
    }
  }

  #head {
    overflow: hidden;
    span.country, span.hours, span.phone {
      float: left;
      margin-right: 20px;
      margin-bottom: 0.5em;
    }

    .phone {
      clear: left;
    }
  }

  .websites {
    list-style: none;
    margin-bottom: 1em;
    font-size: 0.9em;
  }

  #location {
    margin-top: 1em;
  }

  .row {
    // border-bottom: 1px dashed #EEE;
  }

  // #sticky {
  //   font-size: 1.2em;
  //   dd {
  //     margin: 0 20px 0 0;
  //   }
  //   a {
  //     color: #999;
  //   }
  // }
  .hint {
    color: #999;
  }

  table {
    width: 100%;
  }
}
