.c-users.a-show {
  h1.user {
    font-size: 1.3em;
  }
}
.badges {
  li {
    display: block;
    padding: 10px;
    .badge {
      background: #CCC;
      height: 100px;
      padding: 10px;
    }
  }
}

.comments {
  list-style: none;
  li {
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
    padding: 10px;
  }
}