.row.staff#people
  .columns.large-12
    %fieldset
      %legend
        Upcoming Events
      %ul
        - lab.events.each do |event|
          = content_tag_for :li, event do
            %h5= link_to event, event