.row.location#location
  .columns.large-12
    %fieldset
      %legend Location
      .columns.large-8
        #map{data: { lat: lab.latitude, lng: lab.longitude, zoom: 12 }}
      .columns.large-4
        .row
          .columns.large-12
            %h5= fa_icon "map-marker", class: 'icon-fixed-width', text: "Address"
            .address= simple_format lab.address
            -# .hint= simple_format lab.address_notes

          -# .columns.large-12
          -#   %h5= fa_icon "time", class: 'icon-fixed-width', text: "Opening Hours"
          -#   %table.opening-hours
          -#     %tbody
          -#       - @days.each do |day|
          -#         %tr
          -#           %th.day= day.capitalize
          -#           %td 9:00
          -#           %td -
          -#           %td 17:00
