.row
  .columns.large-12
    - @labs.each do |lab|
      = content_tag_for :div, lab, class: 'row' do
        .columns.large-12
          .image{style: 'width: 90px; float: left'}
            = holder_tag 80
          .details{style: 'float: left'}
            = link_to lab, lab
